@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Economica|Roboto+Condensed');

body {
  text-align: center;
  margin: 5%;
  font-family: 'Roboto Condensed';
}

input {
  margin: 1px;
  width: 300px;
}

button {
  width: 300px;
}

li {
  cursor: pointer;
  list-style-position: inherit;
}